/* 기본 스타일 초기화와 기본 설정 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fafafa;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

h1,
h2 {
    color: #2c3e50;
    text-align: center; 
}

h1 {
    background-color: white;
    padding: 0.8rem;
    border-radius: 5px;
    box-shadow: 0px 4px 5px -2px rgb(0, 0, 0, 0.2);
    width: 70vw;
}

h2 {
    margin-bottom: 20px;
}

.controls-maze-container {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2);
    width: 70vw;
}

.maze-container {
    display: flex;
    justify-content: center;

}

#maze {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    background-color: #34495e;
    border: 2px solid #34495e;
}

.cell {
    width: 20px;
    height: 20px;
    background-color: #ecf0f1;
    transition: background-color 0.3s ease;
    border: 0.1px solid #34495e; /* Added border style to avoid grid border display, 
    which separated the maze in 5x5 squares. This approach requires removing gap:1px from #maze */
}

.wall {
    background-color: #34495e;
    border: none; /* No borders for walls */
}

.path {
    background-color: #3498db;
}

.controls {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls button {
    background-color: #3473D9;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 0.2rem;
}

.controls button:hover {
    background-color: #2B5FB3;
}

.explanation {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: left; /* 왼쪽 정렬 추가 */
    width: 70vw;
    text-align: justify;
}

.explanation h2,
.explanation h3 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.explanation p,
.explanation ul {
    color: #333;
    line-height: 1.6;
}

.explanation p {
    padding: 1rem 0.2rem;
}

.explanation ul {
    list-style-type: disc;
    padding: 0.5rem 2rem;
}

.explanation ol {
    padding: 0.5rem 2rem;
}

a {
    color: #3473D9;
    text-decoration: none;
    position: relative;
}

a::before {
    content: "";
    width: 0%;
    border-bottom: solid 3px #3473D9;
    border-radius: 20.5rem;
    position: absolute;
    left: 0;
    bottom: -10%;
}

a:hover::before {
    width: 100%;
    transition: width 300ms;
}

/* responsive design */
@media only screen and (max-width: 600px) {
    .explanation, .controls-maze-container, h1 {
        width: 90vw;
    }
  }


@media only screen and (max-width: 450px) {
    .controls {
        flex-direction: column;
        gap: 0.4rem;
    }
    #maze {
        grid-template-columns: repeat(20, 15px);
        grid-template-rows: repeat(20, 15px);
        border: 1px solid #34495e;
    }
    .cell {
        width: 15px;
        height: 15px;
    }
  }